
/* Button */

.btn{
   margin: 0 .3rem;
    transition: all .3s ease-in-out;
    color: #fff;
   background-color: rgba(8, 8, 8, 0.61);
    box-shadow: 2px 2px 10px #22ff059a;
   
}



.btn:hover{
    transform: scale(1.1);
}

.btn-home:hover{
    background-color: rgba(37, 201, 4, 0.611);
}
.btn-search:hover{
    background-color: rgba(4, 50, 201, 0.611);
}
.btn-filters:hover{
    background-color: rgba(243, 227, 8, 0.611);
}
.btn-favs:hover{
    background-color: rgba(238, 5, 5, 0.611);
}


.container{
    margin-bottom: 8vw;
}


.card{
    color: #fff;
    transition: all ease-in .5s;
    background-color: rgba(15, 15, 15, 0.8);
    box-shadow: 2px 15px 30px rgba(37, 201, 4, 0.511);
    height: auto;
 
}

.card-data{
    

    text-align: center;
  
    
}



.card-data h5{
    padding: 0.5rem 0 0 0;
    letter-spacing: 2px;
    font-size: 1.8rem;
   
}

.card-data .specie{
    font-size: 1.2rem;
  
}

.status{
    font-size: 1.5rem;
    color: rgb(12, 151, 7);
    letter-spacing: 2px;
   
}

 .statusD{
    font-size: 1.8rem;
    color: rgb(236, 23, 23);
    letter-spacing: 2px;
    padding: 0 0 2px 0;
}

.statusI{
    font-size: 1.8rem;
    color: rgb(0, 107, 247);
    letter-spacing: 2px;
    padding: 0 0 2px 0;
}



.card-data .card-body .gender .card-text{
    
    font-size: 1.3rem;
    padding: 5px 0;
}

.card-data .card-body .location{
    display: block;
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
}

/* Favorite */

.fav{
    color: #fd0404;
}

.favorite{
    cursor: pointer;
    padding: 0.5rem 0.5rem 0 0;
    transition: all .3s ease-in-out;
}


.favorite i{
    font-size: 1.2rem;
}

 


.favorite i:hover {
    transform: scale(1.2);
    color: #fd0404;
}

.selectFavorite{
    color:#fd0404;
   
}

.selectFavorite i {
    font-size: 1.5rem;
    padding: 5px;
   
}

