
<div class="container">

    <div class="buttons d-flex justify-content-center mb-5">
        <button class="btn  btn-home" (click)="redirectPage()"  [routerLink]="['/home']">
            Back to  <i class="fa-solid fa-home"></i>
        </button>
        <button class="btn  btn-search" [routerLink]="['/pages/search']">
            Back to <i class="fa-solid fa-search" ></i>
        </button>
        <button class="btn  btn-favs" [routerLink]="['/pages/favorites']">
          Favs <i class="fa-solid fa-heart" ></i>
      </button>
     
    </div>
   
    
    <div class="row d-flex justify-content-center align-items-center">
        <div
          class="col-lg-4 col-md-6 col-sm-4 col-xs-5">
          <div class="card card-first">
            <img
              [src]="character?.image"
              [alt]="character?.image"
              class="card-image img-fluid rounded"  />
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-4 col-xs-5">
           
            <div class="card card-data">
              <div class="favoriteDiv" *ngIf="!listF; else favorite">
                <span class="d-flex justify-content-end favorite">
                  <i [ngClass]="isFav()"
                  (click)="addToFavorites(character)"></i>
                </span>

               
              </div>
                
                <h5 class="card-title">{{ character?.name }}</h5>
                <span class="specie">{{ character?.species }}</span>

                <div class="card-body">
                    <div class="status" [ngClass]="status(character?.status)">
                        <span>{{ character?.status }}</span>
                      </div>
            
                     
                      
                    
            
                      <div
                        class="gender"
                        *ngIf="character?.gender?.toLowerCase() === 'male'; else female"> 
                         <p class="card-text">Gender: Male</p>
                      </div>

                      <span class="location">Planet: {{character?.origin?.name}}</span>
            
            
                      <span class="location">Location: {{ character?.location?.name }}</span>
                </div>
            </div>
            
        </div>
      </div>
    
      <ng-template #female>
        <div class="gender">
          <p>Female</p>
        </div>
      </ng-template>
    </div>

    <ng-template #favorite >
      <div >
        <span class="d-flex justify-content-end selectFavorite ">
          <i class="fa-solid fa-heart"></i>
        </span>
      </div>
    </ng-template>
    
