
/* 
h5{
    text-align: center;
    letter-spacing: 2px;
    font-size: 1rem;
}



.card-image{
    margin: 1.5rem 0;
    width: 250px;
    
}



.specie{
width: 190px;
background-color: #08BC31;
text-align: center;
letter-spacing: 2px;
padding: .5rem;
position: absolute;
top: 0px;
left: 0px;
border-radius: 5px;


}

.status{
    background-color: #08BC31;
    position: absolute;
    top: 280px;
    right: 0;
    width: 180px;
    margin: 0 .5rem 0 0;
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
}

  
 .statusN{
    background-color: #bc0811;
    position: absolute;
    top: 280px;
    right: 0;
    width: 180px;
    margin: 0 .5rem 0 0;
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
}

.card:hover {
    
    transform: scale(1.08);
}





.gender span{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    
}

.gender p {
    position: absolute;
    top: 420px;
    right: 175px;
}

.location  {
    padding: 1.5rem 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
}  */



.container{
    margin-bottom: 8vw;
}


.card{
    color: #fff;
    transition: all ease-in .5s;
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 15px 30px #000;
    height: auto;
 
}







.card-data{
   

    text-align: center;
  
    
}



.card-data h5{
    padding: 2rem 0 0 0;
    letter-spacing: 2px;
    font-size: 2rem;
   
}

.card-data .specie{
    font-size: 1.8rem;
  
}

.card-data .card-body .status{
    font-size: 1.8rem;
    color: rgb(12, 151, 7);
    letter-spacing: 2px;
    padding: 0 0 5px 0;
}

.card-data .card-body .statusN{
    font-size: 1.8rem;
    color: rgb(236, 23, 23);
    letter-spacing: 2px;
    padding: 0 0 2px 0;
}

.card-data .card-body .gender .card-text{
    
    font-size: 1.5rem;
    padding: 5px 0;
}

.card-data .card-body .location{
    display: block;
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
}