<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                [(ngModel)]="inputCh"
                aria-describedby="search-addon" 
                (keypress)="searchByKey($event)"/>
                <button type="button" class="btn btn-outline-success" (click)="searchCh()">search</button>
              </div>
        </div>
    </div>
</div>

<div class="container" >
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12" *ngIf="charactersSearch.length > 0">
            <h2>Filters.</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Status
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body" >
                        <div class="buttons" >
                            <button   [ngClass]="btnActive('alive')"
                            (click)="status('alive')">Alive</button>
                            <button [ngClass]="btnActive('Dead')"
                            (click)="status('Dead')">Death</button>
                            <button  [ngClass]="btnActive('unknown')"
                            (click)="status('unknown')">Uknown</button>
                        </div>
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Locations
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <select class="form-select">
                        <option *ngFor="let item of genders"
                        
                        >{{item}}</option>
                      </select>
                    </div>
                  </div>
                </div>
        
                
              </div>
        </div>
        <div class="col">
            <app-shared-card [arrayCharacters]="arrayCharacters" *ngIf="!busqueda; else filterCh"></app-shared-card>


        </div>
    </div>
</div>




<ng-template #filterCh >
    <app-shared-card [arrayCharacters]="charactersSearch"></app-shared-card>
    <br>
    <br>
</ng-template> 


<app-pagination [p]="p" [pagesT]="pagesTotal" (actualPageEmitter)="pageChanged($event)"></app-pagination>

