.input-group{
    padding: 1.5rem;
    margin: -1.5rem 0 4rem 0;
}

.input-group .form-control{
    transition: all ease-in .3s;
}

.input-group .form-control:hover{

    box-shadow: 2px 3px 25px  rgba(4, 235, 35, 0.63);
}



/* Button */

.btn{
    color: #fff;
    background-color:  rgba(5, 202, 31, 0.726);
    transition: all .2s ease-in;
}

.input-group button:hover{
    padding: 0rem 1rem 0 1rem;
    background-color: rgb(5, 218, 33) ;
}



