.input-group{
    padding: 1.5rem;
    margin: -1.5rem 0 4rem 0;
}

.input-group .form-control{
    transition: all ease-in .3s;
}

.input-group .form-control:hover{

    box-shadow: 2px 3px 25px  rgba(4, 235, 35, 0.63);
}

.input-group button:hover{

    background-color: rgba(4, 235, 35, 0.63) ;
}




/* Card */

.card{
    margin: 2rem 0;
    color: #fff;
    transition: all ease-in .5s;
    cursor: pointer;
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 15px 30px #000;
    transition: all ease-in-out .2s;
    width: 100%;
}

.card-title{
    font-size: 1rem;
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 2px;
}

.card:hover{
    transform: scale(1.06);
}

.card-body{
    display: flex;
    justify-content: center;

}

.card-body span{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    width: 50%;
    padding-top: 1rem;
    letter-spacing: 3px;
}