<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                [(ngModel)]="inputCh"
                aria-describedby="search-addon" 
                (keypress)="searchByKey($event)"/>
                <button type="button" class="btn btn-outline-success" (click)="searchCh()">search</button>
              </div>
        </div>
    </div>
</div>

<app-shared-card [arrayCharacters]="arrayCharacters" *ngIf="!busqueda; else filterCh"></app-shared-card>



<ng-template #filterCh >
    <app-shared-card [arrayCharacters]="charactersSearch"></app-shared-card>
    <br>
    <br>
</ng-template> 


<app-pagination [p]="p" [pagesT]="pagesTotal" (actualPageEmitter)="pageChanged($event)"></app-pagination>

