.navbar{
    padding: 2rem 0;
}

.navbar-brand img{
    width: 100px;
    transition: all .55s;
}

.navbar-brand img:hover{
    transform: scale(1.2);
}

.nav-item .nav-link{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}