
<div class="container">

    <h2>Your Favorite Characters are Here</h2>
    <div class="clearAllButton d-flex justify-content-center mb-5">
        <button class="btn" *ngIf="favoritesCharacters.length>0" (click)="deleteAll()">Clear all Favorites</button>
    </div>
   
    <div class="row d-flex justify-content-center mb-5" *ngIf="favoritesCharacters.length > 0; else noFavorites">
        <div class="col-lg-4 col-md-6 col-sm-8" *ngFor="let character of favoritesCharacters">
            <div class="card">
                <div class="buttons d-flex justify-content-between">
                    <button class="btn btn-more "  routerLink="/pages/character/{{character.id}}">Show More</button>
                    <button class="btn "  (click)="delete(character.id)">Delete</button>
                </div>
                <img class="img-fluid img-rounded" [src]="character.image" [alt]="character.image">
                <div class="card-body">
                    <span>{{character.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noFavorites>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <h2>
                     Add characters to favorites ...
                </h2>
            </div>
        </div>
    </div>
</ng-template>


