/* You can add global styles to this file, and also import other style files */

body{
   background-image: url('../src/assets/img/background.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    
}