<div class="container">
  <div class="title">
    <h2>Rick and Morty</h2>
    <hr />
  </div>

  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-8"
      *ngFor="let item of arrayCharacters">
      <div class="card">
        <img
          [src]="item.image"
          [alt]="item.image"
          class="card-image img-fluid rounded mx-auto d-block" />
        <span class="specie">{{ item.species }}</span>
        <div class="card-body">
         

          <h5 class="card-title">{{ item.name }}</h5>

        </div>
        <div class="card-footer">
          <button class="btn btn-warning"
          routerLink="/pages/character/{{item.id}}">More</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #female>
    <div class="gender">
      <span class="material-symbols-outlined"> female </span>
      <p>Female</p>
    </div>
  </ng-template>
</div>
