


.title hr{
    border: 10px solid #08BC31;
    border-radius: 5px;
}


.title h2{
    text-transform: uppercase;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    font-size: 7rem; 
    color: #08BC31; 
    text-shadow: 0 1px 0 rgb(223, 172, 6), 0 2px 0 rgb(223, 171, 6), 0 3px 0 rgb(224, 172, 6), 0 4px 0  rgb(224, 174, 6), 0 5px 0  rgb(224, 178, 6), 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    margin: 2rem 0 4rem 0;
}

h5{
    
    letter-spacing: 2px;
    font-size: 1.5rem;
}



 .card{
    color: #fff;
    margin: 2.5rem 1rem;
    transition: all ease-in .2s;
    cursor: pointer;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    height: 350px; 
    border-radius: 10px; 
    backdrop-filter: blur(5px); 
    background-color: rgba(8, 8, 8, 0.61); 
    padding: 30px 0 0 0; 
    text-align: center; 
    
} 




.card-body{
    padding: 2.5rem 0 0 0;
}



.card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease-in-out;
    background-color: #16bd10c4;
    box-shadow: 2px 2px 15px #16bd10b4 ;
    border-radius: 10px;
  } 
  
  
  .card:hover .card__overlay {
    opacity: 1;
    transform: translate(0, -20px);
  }

  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  
  
  .overlay__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .button {
    border-radius: .5rem;
    background-color:  rgba(3, 3, 3, 0.76);
    padding: 1rem;
    margin-top: 2rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: none;
  }


.card:hover {
    
    transform: scale(1.08);
}

.card-image{

    width: 200px;
    

}





        